CREATOR_WALLET=your_creator_wallet_address
CREATOR_PRIVATE_KEY=your_base58_private_key
TOKEN_CA=your_token_ca
SOLANA_RPC=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
SOLANATRACKER_API_KEY=your_solanatracker_key
MIN_DISTRIBUTE_SOL=0.005
GAS_RESERVE_SOL=0.01
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
